<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> test </h1>
    {% for result in results %}
        {{ result.name }}
    {% endfor %}
</body>
</html>